<!DOCTYPE html>
<html lang="en">

    <p>
        Concepts and other Mini-Labs
    </p>
    <meta charset="UTF-8">
    <form action="https://drive.google.com/file/d/1tBCiJCousqEsfmjx4w7Hqg-DnkviqKQ8/view">
        <input type="submit" value="Week 1 Tech Talk Video" />
    </form>

    <form action="https://docs.google.com/document/d/1_j-e40zfmPSHvgEj49D3VCS49GdZbYkZ9xrVLVLaxvM/edit?usp=sharing">
        <input type="submit" value="Connor and Nadira Journal" />
    </form>

    <form action="https://docs.google.com/document/d/1HkT_OstSQ8gq3h-AORQhIVi0-DE2xPCkxM8nl_TOch0/edit?usp=sharing">
        <input type="submit" value="Natalie and Paige Journal" />
    </form>

    <form action="https://github.com/nadirahaddach/flask_portfolio/blob/main/templates/connorgreet.html">
        <input type="submit" value="Connor Greet Code" />
    </form>

    <form action="https://github.com/nadirahaddach/flask_portfolio/blob/main/templates/greet.html">
        <input type="submit" value="Nadira Greet Code" />
    </form>

    <form action="https://github.com/nadirahaddach/flask_portfolio/blob/main/templates/nataliegreet.html">
        <input type="submit" value="Natalie Greet Code" />
    </form>




</html>