<!DOCTYPE html>

{% include "layouts/navbar.html" %}

<html>

<head>
    <title>Del Norte Sports</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .mySlides {display:none;}
    </style>
</head>

<head>

<h2 class="w3-center" style="color: white">DEL NORTE SPORTS</h2>


<div class="w3-content w3-section" style="max-width:500px">
    <body style="background-color:midnightblue;">
    <img class="mySlides" src="/static/assets/soccer.jpg" style="width:100%">
    <img class="mySlides" src="/static/assets/volleyball.jpeg" style="width:100%">
    <img class="mySlides" src="/static/assets/swim.jpg" style="width:100%">
    <img class="mySlides" src="/static/assets/NatalieFieldHockey.jpg" style="width:100%">
    <img class="mySlides" src="/static/assets/yas.jpg" style="width:100%">

</div>

<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 2000); // Change image every 2 seconds
    }
</script>
    <body>
    <input type="text" placeholder="Do you want to play a sport?" id="wish">
    <script>
        function cond(){
            var a=document.getElementById("wish").value;
            if(a=="yes"){
                print("This is the place for you!");
            }
            else if(a=="no"){
                print("leave");
            }
            else{
                print("why are you here?")
            }
        }
    </script>
    <button type="button" onclick="cond()">Submit</button>

    </body>

</body>
</html>