<!DOCTYPE html>

{% include "layouts/navbar.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <input type="text" placeholder="sports??" id="wish">
    <script>
        function cond(){
            var a=document.getElementById("wish").value;
            if(a=="yes"){
                document.write("This is the place for you!");
            }
            else if(a=="no"){
                document.write("no");
            }

        }
    </script>
    <button type="button" onclick="cond()">LOL</button>
    <a href="https://www.denverbroncos.com/"> <img src="/static/assets/drewlock.jpeg" <img></a>



</body>
</html>