<!DOCTYPE html>
{% include "layouts/navbar.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trimester 3 Sports Information</title>
    <style>
        body {
            font-family: Gill Sans, sans-serif;
            margin: 0;
        }

        .picture {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: 8px;
        }

        .tri1-welcome {
            padding: 30px;
            text-align: center;
            background-color:forestgreen;
            color: white;
        }

        .row {
            padding: 25px;
            text-align: left;
            background-color:navy;
            color:white;
        }

        .text {
            font-size: 20px;
            background-color:white;
            color:black;
        }

        .dropdown {
            text-align:left;;
        }

        .extra-info {
            padding: 20px;
            text-align:center;
            background-color:darkgoldenrod;
            color:black;
        }

        @media screen and (max-width: 650px) {
            .column {
                width: 100%;
                display: block;
            }
        }
    </style>
</head>
<body>
<body>
<div class="tri1-welcome">
    <h1>Learn about the Trimester 3 Sports </h1>
    <p>Read up about the sports, and learn about how they fare at Del Norte High School!</p>
    <p class="dropdown">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button" style="font-size: 20px;color: white">
                Sports
            </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <a class="dropdown-item" href="#Lax" style="color: navy">Lacrosse</a>
        <a class="dropdown-item" href="#Base" style="color: forestgreen">Baseball</a>
        <a class="dropdown-item" href="#Golf" style="color: navy">Golf</a>
        <a class="dropdown-item" href="#soft" style="color: forestgreen">Softball</a>
        <a class="dropdown-item" href="#Gym" style="color: navy">Gymnastics</a>
        <a class="dropdown-item" href="#Swim" style="color: forestgreen">Swim & Dive</a>
        <a class="dropdown-item" href="#Tennis" style="color: navy">Boys' Tennis</a>
        <a class="dropdown-item" href="#Track" style="color: forestgreen">Track and Field</a>
        <a class="dropdown-item" href="#Volley" style="color: navy">Boys' Volleyball</a>
        </p>
    </div>
</div>

<div class="row">
    <h1 id="Lax"> Lacrosse </h1>
    <div class="picture">
        <img src="" alt="" style="width:30%">
    </div>
</div>
<div class="text">
    <p> Lacrosse, (French: “the crosier”) competitive sport, modern version of the North American Indian game of baggataway, in which two teams of players use long-handled, racketlike implements (crosses) to catch, carry, or throw a ball down the field or into the opponents’ goal. The goal is defined by uprights and a crossbar framing a loose net.
        The distinctive feature of the game is the crosse (lacrosse stick), the implement used by the players to carry, catch, and pass the ball. The crosse is a staff that is sharply bent at the top to form a hook from the end of which a thong is drawn and fastened to the shaft about 2 or 3 feet (0.6 or 0.9 metre) from the end of the handle, forming an oval triangle that is woven with a loose network of leather, nylon, or gut to form the pocket with which the ball is handled.
    </p>
</div>
<div class="extra-info">
    <table>
        <tr>
            <th>2021 Division:</th>
            <th>2019 Record:</th>
            <th>League:</th>
        </tr>
        <tr>
            <td>Division I</td>
            <td>9-10</td>
            <td>Palomar</td>
        </tr>
    </table>
</div>
<div class="row">
    <h1 id="Base">Baseball </h1>
    <div class="picture">
        <img src="" alt="" style="width:30%">
    </div>
</div>
<div class="text">
    <p> Baseball, game played with a bat, a ball, and gloves between two teams of nine players each on a field with four white bases laid out in a diamond (i.e., a square oriented so that its diagonal line is vertical). Teams alternate positions as batters (offense) and fielders (defense), exchanging places when three members of the batting team are “put out.” As batters, players try to hit the ball out of the reach of the fielding team and make a complete circuit around the bases for a “run.” The team that scores the most runs in nine innings (times at bat) wins the game.
    </p>
</div>
<div class="extra-info">
    <table>
        <tr>
            <th>2021 Division:</th>
            <th>2019 Record:</th>
            <th>League:</th>
        </tr>
        <tr>
            <td>Division II</td>
            <td>19-9</td>
            <td>Valley</td>
        </tr>
    </table>
</div>
<div class="row">
    <h1 id="Golf"> Golf </h1>
    <div class="picture">
        <img src="" alt="" style="width:30%">
    </div>
</div>
<div class="text">
    <p> golf, a cross-country game in which a player strikes a small ball with various clubs from a series of starting points (teeing grounds) into a series of holes on a course. The player who holes his ball in the fewest strokes wins. The origins of the game are difficult to ascertain, although evidence now suggests that early forms of golf were played in the Netherlands first and then in Scotland.
    </p>
</div>
<div class="extra-info">
    <table>
        <tr>
            <th>2021 Division:</th>
            <th>2019 Record:</th>
            <th>League:</th>
        </tr>
        <tr>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
    </table>
</div>
<div class="row">
    <h1 id="soft"> Softball </h1>
    <div class="picture">
        <img src="" alt="" style="width:30%">
    </div>
</div>
<div class="text">
    <p> softball, a variant of baseball and a popular participant sport, particularly in the United States. It is generally agreed that softball developed from a game called indoor baseball, first played in Chicago in 1887. It became known in the United States by various names, such as kitten ball, mush ball, diamond ball, indoor–outdoor, and playground ball. There were wide variances in playing rules, size and type of playing equipment, and dimensions of the playing field.
    </p>
</div>
<div class="extra-info">
    <table>
        <tr>
            <th>2021 Division:</th>
            <th>2019 Record:</th>
            <th>League:</th>
        </tr>
        <tr>
            <td>Division II</td>
            <td>19-14</td>
            <td>Palomar North County</td>
        </tr>
    </table>
</div>
<div class="row">
    <h1 id="Gym"> Gymnastics </h1>
    <div class="picture">
        <img src="" alt="" style="width:30%">
    </div>
</div>
<div class="text">
    <p> Gymnastics, the performance of systematic exercises—often with the use of rings, bars, and other apparatus—either as a competitive sport or to improve strength, agility, coordination, and physical conditioning.
    </p>
</div>
<div class="extra-info">
    <table>
        <tr>
            <th>2021 Division:</th>
            <th>2019 Record:</th>
            <th>League:</th>
        </tr>
        <tr>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
    </table>
</div>
<div class="row">
    <h1 id="Swim"> Swim & Dive </h1>
    <div class="picture">
        <img src="" alt="" style="width:30%">
    </div>
</div>
<div class="text">
    <p> swimming, in recreation and sports, the propulsion of the body through water by combined arm and leg motions and the natural flotation of the body. Swimming as an exercise is popular as an all-around body developer and is particularly useful in therapy and as exercise for physically handicapped persons. It is also taught for lifesaving purposes. For activities that involve swimming, see also diving, lifesaving, surfing, synchronized swimming, underwater diving, and water polo.
    </p>
</div>
<div class="extra-info">
    <table>
        <tr>
            <th>2021 Division:</th>
            <th>2019 Record:</th>
            <th>League:</th>
        </tr>
        <tr>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
    </table>
</div>
<div class="row">
    <h1 id="Tennis"> Boys' Tennis </h1>
    <div class="picture">
        <img src="" alt="" style="width:30%">
    </div>
</div>
<div class="text">
    <p> tennis, original name lawn tennis, game in which two opposing players (singles) or pairs of players (doubles) use tautly strung rackets to hit a ball of specified size, weight, and bounce over a net on a rectangular court. Points are awarded to a player or team whenever the opponent fails to correctly return the ball within the prescribed dimensions of the court. Organized tennis is played according to rules sanctioned by the International Tennis Federation (ITF), the world governing body of the sport.
    </p>
</div>
<div class="extra-info">
    <table>
        <tr>
            <th>2021 Division:</th>
            <th>2019 Record:</th>
            <th>League:</th>
        </tr>
        <tr>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
    </table>
</div>
<div class="row">
    <h1 id="Track"> Track and Field </h1>
    <div class="picture">
        <img src="" alt="" style="width:30%">
    </div>
</div>
<div class="text">
    <p> athletics, also called track-and-field sports or track and field, a variety of competitions in running, walking, jumping, and throwing events. Although these contests are called track and field (or simply track) in the United States, they are generally designated as athletics elsewhere. This article covers the history, the organization, and the administration of the sports, the conduct of competitions, the rules and techniques of the individual events, and some of the sports’ most prominent athletes.
    </p>
</div>
<div class="extra-info">
    <table>
        <tr>
            <th>2021 Division:</th>
            <th>2019 Record:</th>
            <th>League:</th>
        </tr>
        <tr>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
    </table>
</div>
<div class="row">
    <h1 id="Volley"> Boys' Volleyball </h1>
    <div class="picture">
        <img src="" alt="" style="width:30%">
    </div>
</div>
<div class="text">
    <p> volleyball, game played by two teams, usually of six players on a side, in which the players use their hands to bat a ball back and forth over a high net, trying to make the ball touch the court within the opponents’ playing area before it can be returned. To prevent this a player on the opposing team bats the ball up and toward a teammate before it touches the court surface—that teammate may then volley it back across the net or bat it to a third teammate who volleys it across the net. A team is allowed only three touches of the ball before it must be returned over the net.
    </p>
</div>
<div class="extra-info">
    <table>
        <tr>
            <th>2021 Division:</th>
            <th>2019 Record:</th>
            <th>League:</th>
        </tr>
        <tr>
            <td>Division II</td>
            <td>4-2</td>
            <td>Palomar</td>
        </tr>
    </table>
</div>
</body>


</body>
</html>